astroid==2.11.7
dill==0.3.4
dj-database-url==0.4.2
Django==2.2.13
djangorestframework==3.9.1
gunicorn==19.7.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
platformdirs==2.4.0
psycopg2-binary==2.8.4
pylint==2.13.9
PyMySQL==1.0.2
pytz==2017.3
sqlparse==0.4.4
tomli==1.2.3
typed-ast==1.5.4
typing_extensions==4.1.1
whitenoise==3.3.1
wrapt==1.15.0
